@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Henny+Penny&family=Luckiest+Guy&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.bio {
    background-color: white;
    max-height: 100%;
}

.container {
    gap: 20px; /* Space between image and text */
    align-items: flex-start; /* Align items at the top */
    padding-bottom: 6%;
    padding-top: 15px;
    overflow-y: auto;
    line-height: 1.5;
    color: #d2d6d1;
    text-align: left;
}

.container-inner {
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 10px;
    color: black;
}

.author-pic {
    width: auto; /* Ensures the image scales properly */
    height: auto; /* Maintain aspect ratio */
    max-width: 250px; /* Limits the image width, adjust as needed */
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 20px;
}

.bio-text {
    font-family: "Spectral", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    flex: 1; /* Allow the text to take up the remaining space */
    padding-left: 40px;
}

.author-header {
    font-family: 'Fuggles', sans-serif;
    font-weight: 400;
    padding-top: 0;
    font-size: 300%;
}
