.bio {
    background-color: #382f21;
    max-height: 100%;
}

.container {
    display: flex; /* Use flexbox for layout */
    gap: 20px; /* Space between image and text */
    align-items: flex-start; /* Align items at the top */
    padding: 10%;
    padding-top: 15px;
    overflow-y: auto;
}

.author-pic {
    width: auto; /* Ensures the image scales properly */
    height: auto; /* Maintain aspect ratio */
    max-width: 250px; /* Limits the image width, adjust as needed */
    padding-top: 50px;
}

.bio-text {
    flex: 1; /* Allow the text to take up the remaining space */
    line-height: 1.5;
    color: #d2d6d1;
    text-align: left;
}

.author-header {
    padding-top: 0;
    font-size: 300%;
    opacity: 0.5;
}
