.tab-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  .tab-buttons a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  .tab-buttons a.active {
    border-bottom: 2px solid #333;
    font-weight: bold;
    color: white;
    text-shadow: 10px 10px 8px #070000; /* Adds a shadow for a haunted look */
  }
  