@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Henny+Penny&family=Luckiest+Guy&display=swap');
.tab-buttons {
    font-family: "Fuggles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    gap: 10px;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  .tab-buttons a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  
  .tab-buttons a.active {
    border-bottom: 2px solid #333;
    font-weight: bold;
    color: rgb(45, 5, 5);
  }

  .tab-buttons a:hover {
    color: rgb(45, 5, 5);
    font-weight: bold;
  }

  .tab-content {
    min-height: 600px;
    max-height: 600px;
    background-color: white;
    overflow-y: auto;
  }

  