.books {
height: 100%;
padding: 5%;
padding-left: 20%;
padding-right: 20%;
font-family: 'Arial Black', 'Impact', 'Georgia', sans-serif; /* Fallback to sans-serif if none are available */
font-size: 2em; /* Adjust size as needed */
color: black; 
background-color: #4d0f16;
text-align: center;
overflow-y: auto;
}

.book-carousel {
display: flex;
align-items: center;
justify-content: center;
gap: 10px; /* Adjust space between buttons and book */
}

.book-item {
padding: 10px;
border-radius: 5px; /* Round corners */
}

.book-description {
    font-size: medium;
}
a {
    color: black;
}

button {
padding: 10px;
cursor: pointer;
background-color: #330000; /* Dark background */
color: white; /* White text */
border: none;
border-radius: 5px; /* Round corners */
}

button:disabled {
background-color: #ccc; /* Grey background when disabled */
cursor: not-allowed; /* Change cursor style */
}

img {
max-height: 200px;
max-width: 200px;
}