@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Luckiest+Guy&display=swap');
.App {
  text-align: center;
  background-color: #122f21;
  height: auto;
  padding: 40px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: transparent;
}

.App-header {
  font-family: 'Fuggles', sans-serif;
  font-weight: 400;
  font-size: 300%;
  color: white;
  text-shadow: 10px 10px 8px #070000; /* Adds a shadow */
  padding-bottom: 2%;
}

.body {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 75vh;
  flex: 1;
  justify-content: space-between;
}

.bio, .books {
  flex: 1; /* Makes each component take up equal space */
  display: flex;
  flex-direction: column; /* Adjusts the content inside each component */
  justify-content: flex-start;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
